/* body */
.home{
    .title{
        color: var(--gray);
        font-size: 18px;
        text-align: center;
        width: 100%;
    }   

    .slide{
        ion-card{
            position: relative;
            border-radius: 0;
            box-shadow: 3px 3px 8px #c1c1c1;
            img{
                object-fit: cover;
                height:100px;
            }
            .ribbon {
                position: absolute;
                top: 0;
                z-index: 10;
                padding: 0px 7px;
                background-color: rgba(0, 0, 0, .7);
                /* margin-left: 62.5%; */
                /* margin-right: 12.0%; */
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                font-size: 15px;
                line-height: 32px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                text-shadow: 0 1px 1px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
                box-shadow: 0 1px 1px rgba(0,0,0,0.2);
                zoom: 1;
                /* top: 8%; */
                    right: -3%;
            
                /* left: 61%; */
                min-width: 40%;
                max-width: 50%;
                height: 32px;
            }

            ion-card-header{
                padding: 5px;
                ion-card-title{
                    p{
                        font-size: 16px;
                        color: var(--primary);
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        height: 40px;
                        margin: 0;
                    }
                }
            }
            .price-offer{
                color: green;
                text-align: right
            }
        }
    }

    /*Products */

    .horizontal-card{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 3px solid var(--primary);
        margin: 15px;
        border-radius: 0;
        box-shadow: 3px 3px 8px #c1c1c1;
        .box-1{
            width: 40%;
            img{
                height: 110px;
                object-fit: cover;
            }
        }

        .box-2{
            width:60%;  
            ion-card-header{
                padding: 7px;
                ion-card-title{
                    h5{
                        margin: 0 auto 5px;
                        font-size: 16px;
                        color: var(--primary);
                        display: block;
                        display: -webkit-box;
                        height: 40px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .description-text{
                        margin: 0;
                        font-size: 12px;
                        color: var(--gray);
                        display: block;
                        display: -webkit-box;
                        height: 30px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .price{
                        margin: 0;
                        color: green;
                        text-align: right;
                        font-size: 14px;
                    }
                }
            }
        }

        .box-3{
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid #ececec;

            button{
                background-color: #fff;
                color: var(--primary);
                width: 95%;
                padding: 10px;
            }
           .separated{
                height: 100%;
                width: 3px;
                background-color: #ececec;
           }
        }
    }
}
